Repository rstudio/helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rstudio/infraops, @rstudio/ptd-dev, @rstudio/ppm, @aronatkins, @dbkegley, @christierney, @zackverham

.github/CODEOWNERS:

# format per https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
* @rstudio/infraops @rstudio/ptd-dev

# package-manager resources
/charts/rstudio-pm/* @rstudio/ppm

# connect resources
/charts/rstudio-connect/* @aronatkins @dbkegley @christierney @zackverham
/examples/connect/* @aronatkins @dbkegley @christierney @zackverham

Update helm-docs and README.md
  charts/rstudio-pm/README.md
Owners: @rstudio/ppm

Fix: Set the `securityContext.fsGroup` to default `999` guid
  charts/rstudio-pm/Chart.yaml
  charts/rstudio-pm/NEWS.md
  charts/rstudio-pm/README.md
  charts/rstudio-pm/values.yaml
Owners: @rstudio/ppm

Update index.yaml
  index.yaml
Owners: @rstudio/infraops, @rstudio/ptd-dev

Bump Connect to version 2024.09.0
  charts/rstudio-connect/Chart.yaml
  charts/rstudio-connect/NEWS.md
Owners: @aronatkins, @dbkegley, @christierney, @zackverham

Update helm-docs and README.md
  charts/rstudio-connect/README.md
Owners: @aronatkins, @dbkegley, @christierney, @zackverham

Update index.yaml
  index.yaml
Owners: @rstudio/infraops, @rstudio/ptd-dev

Update docs for Package Manager Postgres.UsageDataPassword bug
  charts/rstudio-pm/Chart.yaml
  charts/rstudio-pm/NEWS.md
  charts/rstudio-pm/README.md.gotmpl
Owners: @rstudio/ppm

Update helm-docs and README.md
  charts/rstudio-pm/README.md
Owners: @rstudio/ppm

Fix: Move PPM `fsGroup` setting to `securityContext`
  charts/rstudio-pm/Chart.yaml
  charts/rstudio-pm/NEWS.md
  charts/rstudio-pm/README.md
  charts/rstudio-pm/values.yaml
Owners: @rstudio/ppm

Update helm-docs and README.md
  charts/rstudio-pm/README.md
Owners: @rstudio/ppm

Trigger CI
  charts/rstudio-pm/NEWS.md
Owners: @rstudio/ppm

Update index.yaml
  index.yaml
Owners: @rstudio/infraops, @rstudio/ptd-dev

Update docs for Package Manager Postgres.UsageDataPassword bug
  charts/rstudio-pm/Chart.yaml
  charts/rstudio-pm/NEWS.md
  charts/rstudio-pm/README.md.gotmpl
Owners: @rstudio/ppm

Update helm-docs and README.md
  charts/rstudio-pm/README.md
Owners: @rstudio/ppm

Update docs for Package Manager Postgres.UsageDataPassword bug
  charts/rstudio-pm/Chart.yaml
  charts/rstudio-pm/NEWS.md
  charts/rstudio-pm/README.md.gotmpl
Owners: @rstudio/ppm

Update helm-docs and README.md
  charts/rstudio-pm/README.md
Owners: @rstudio/ppm

Update charts/rstudio-pm/NEWS.md
  charts/rstudio-pm/NEWS.md
Owners: @rstudio/ppm

Update index.yaml
  index.yaml
Owners: @rstudio/infraops, @rstudio/ptd-dev
