Repository rstudio/helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rstudio/infraops, @rstudio/platform-cloud, @rstudio/ppm, @aronatkins, @dbkegley, @christierney, @zackverham, @matt-urbina, @markrtucker, @t-margheim, @GCrev, @zachhannum

bump workbench chart version
  charts/rstudio-workbench/Chart.yaml
  charts/rstudio-workbench/README.md
Owners: @GCrev, @zachhannum

bump chronicle to 2024.11.0 (#613)
  charts/posit-chronicle/Chart.yaml
  charts/posit-chronicle/NEWS.md
  charts/posit-chronicle/README.md
  charts/posit-chronicle/README.md.gotmpl
  charts/posit-chronicle/values.yaml
  charts/rstudio-connect/Chart.yaml
  charts/rstudio-connect/NEWS.md
  charts/rstudio-connect/README.md
  charts/rstudio-workbench/Chart.yaml
  charts/rstudio-workbench/NEWS.md
  charts/rstudio-workbench/README.md
  ci/rstudio-connect/lint/complex-values.yaml
  ci/rstudio-pm/lint/all-values.yaml
  ci/rstudio-workbench/lint/complex-values.yaml
Owners: @matt-urbina, @markrtucker, @t-margheim, @aronatkins, @dbkegley, @christierney, @zackverham, @GCrev, @zachhannum, @rstudio/ppm

Update index.yaml
  index.yaml
Owners: @rstudio/infraops, @rstudio/platform-cloud

Rename the test suite to better match what it will be doing
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Start adding tests for the rstudio-workbench.containers definition in _helpers.tpl
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add tests for launcher.kubernetesHealthCheck.enabled
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add tests for testuser creation
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add tests for when we set RSW_LOAD_BALANCING
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add another prometheus check I found in _helpers.tpl
  ci/rstudio-workbench/tests/prometheus_test.yaml
Owners: @GCrev, @zachhannum

Add a couple of tests for shared storage mounts/volumes
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add homeStorage tests
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add tests for config.sessionSecret
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add userProvisioning and startupUserProvisioning tests
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add startupCustom tests
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add pam tests
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add yaml & quarto markdown in GH statistics
  .gitattributes
Owners: @rstudio/infraops, @rstudio/platform-cloud

Add tests for both styles of jobJsonOverridesFiles
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add tests for launcher using templates
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add tests for user defined volumemounts
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add resource limit and requests unit tests. Fix a logic bug where the limit key is set even when the resource limits are not disabled
  charts/rstudio-workbench/Chart.yaml
  charts/rstudio-workbench/NEWS.md
  charts/rstudio-workbench/templates/_helpers.tpl
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Update helm-docs and README.md
  charts/rstudio-workbench/README.md
Owners: @GCrev, @zachhannum

add tests for the startup/liveness/readiness probes
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Add test for sidecar definitiions
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

somehow missed launcher.enabled way back, adding tests for that
  ci/rstudio-workbench/tests/deployment_test.yaml
Owners: @GCrev, @zachhannum

Update index.yaml
  index.yaml
Owners: @rstudio/infraops, @rstudio/platform-cloud

Bump PPM version to 2024.11.0-7
  charts/rstudio-pm/Chart.yaml
  charts/rstudio-pm/NEWS.md
  charts/rstudio-pm/README.md
Owners: @rstudio/ppm

Update index.yaml
  index.yaml
Owners: @rstudio/infraops, @rstudio/platform-cloud

Add an RSW_TESTSUSER user
  ci/rstudio-workbench/install/user-create-values.yaml
Owners: @GCrev, @zachhannum

create a serviceaccount with a custom name
  ci/rstudio-workbench/install/basic-service-account-values.yaml
Owners: @GCrev, @zachhannum

try some ingress vals
  ci/rstudio-workbench/install/basic-ingress-values.yaml
Owners: @GCrev, @zachhannum

lets see if hte launcher template values from the lint tests work
  ci/rstudio-workbench/install/launcher-template-values.yaml
Owners: @GCrev, @zachhannum

Bump launcher templates for Workbench chart to 2.5.0
  charts/rstudio-workbench/files/job.tpl
  charts/rstudio-workbench/files/service.tpl
Owners: @GCrev, @zachhannum

set meaningful defaults for job resources
  charts/rstudio-connect/files/job.tpl
Owners: @aronatkins, @dbkegley, @christierney, @zackverham

Bump launcher templates for Workbench chart to 2.5.0
  charts/rstudio-workbench/files/job.tpl
  charts/rstudio-workbench/files/service.tpl
Owners: @GCrev, @zachhannum

bump workbench release to 2024.12.0, update vs code defaults to match Workbench defaults, add commented out positron configuration
  charts/rstudio-workbench/Chart.yaml
  charts/rstudio-workbench/NEWS.md
  charts/rstudio-workbench/README.md
  charts/rstudio-workbench/values.yaml
Owners: @GCrev, @zachhannum

Update charts/rstudio-workbench/NEWS.md
  charts/rstudio-workbench/NEWS.md
Owners: @GCrev, @zachhannum

Update index.yaml
  index.yaml
Owners: @rstudio/infraops, @rstudio/platform-cloud

Update workbench examples to include an example that secures user home directories. This commit also converts from using job-json-overrides in the auto-scaling example to Launcher templates.
  examples/auto-scaling/rstudio-workbench/values.yaml
  examples/workbench/auth-user-provisioning/pam-security.qmd
  examples/workbench/auth-user-provisioning/rstudio-workbench-pam-homedirectory-permissions.yaml
Owners: @rstudio/infraops, @rstudio/platform-cloud

Bump Connect to version 2024.12.0
  charts/rstudio-connect/Chart.yaml
  charts/rstudio-connect/NEWS.md
Owners: @aronatkins, @dbkegley, @christierney, @zackverham

Update helm-docs and README.md
  charts/rstudio-connect/README.md
Owners: @aronatkins, @dbkegley, @christierney, @zackverham

.github/CODEOWNERS:

# format per https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
* @rstudio/infraops @rstudio/platform-cloud

# package-manager resources
/charts/rstudio-pm/** @rstudio/ppm
/ci/rstudio-pm/** @rstudio/ppm

# connect resources
/charts/rstudio-connect/** @aronatkins @dbkegley @christierney @zackverham
/ci/rstudio-connect/** @aronatkins @dbkegley @christierney @zackverham
/examples/connect/** @aronatkins @dbkegley @christierney @zackverham

# posit-chronicle resources
/charts/posit-chronicle/** @matt-urbina @markrtucker @t-margheim
/ci/posit-chronicle/** @matt-urbina @markrtucker @t-margheim

# rstudio-workbench resources
/charts/rstudio-workbench/** @GCrev @zachhannum
/ci/rstudio-workbench/** @GCrev @zachhannum
